In [3]:
people = {
    "first":['Corey', 'Jane', 'John'],
    "last":['Schafer', 'Doe', 'Doe'],
    "email":["CoreySchafer@gmail.com", 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

In [4]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [8]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [23]:
filt1 = df['last'] == 'Doe'
filt1

0    False
1     True
2     True
Name: last, dtype: bool

In [24]:
df[filt1]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

In [25]:
df[df['last'] == 'Doe'] # same as "df[filt1]"

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

In [26]:
filt2 = df['last'] == 'Schafer'
filt2

0     True
1    False
2    False
Name: last, dtype: bool

In [34]:
df[filt2]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com

In [29]:
df.loc[filt1]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

In [31]:
df.loc[filt2]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com

In [32]:
df.loc[filt1, 'email']

1    JaneDoe@gmail.com
2    JohnDoe@gmail.com
Name: email, dtype: object

# & |

In [41]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')
df.loc[filt]

  first last              email
2  John  Doe  JohnDoe@gmail.com

In [49]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')
df.loc[filt, 'email']

2    JohnDoe@gmail.com
Name: email, dtype: object

In [48]:
filt = (df['last'] == 'Schafer') & (df['first'] == 'John')
df.loc[filt, 'email']

Series([], Name: email, dtype: object)

In [51]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')
df.loc[filt]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [53]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')
df.loc[~filt] # print the opposite one

  first last              email
1  Jane  Doe  JaneDoe@gmail.com