In [1]:
person = {
    "first":"Corey",
    "last":"Schafer",
    "email":"CoreySchafer@gmail.com"
}

In [2]:
people = {
    "first":["Corey"],
    "last":["Schafer"],
    "email":["CoreySchafer@gmail.com"]
}

In [3]:
people = {
    "first":['Corey', 'Jane', 'John'],
    "last":['Schafer', 'Doe', 'Doe'],
    "email":["CoreySchafer@gmail.com", 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

In [4]:
people['email']

['CoreySchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [7]:
df['email'] # prafered

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [8]:
type(df['email']) # this is a series object (Series is basically  a list of data)

pandas.core.series.Series

In [9]:
df.email

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [10]:
df.count

<bound method DataFrame.count of    first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com>

In [11]:
df[['last', 'email']]

      last                   email
0  Schafer  CoreySchafer@gmail.com
1      Doe       JaneDoe@gmail.com
2      Doe       JohnDoe@gmail.com

In [12]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

# Access the row wise data - use iloc

In [13]:
df.iloc[0]

first                     Corey
last                    Schafer
email    CoreySchafer@gmail.com
Name: 0, dtype: object

In [14]:
df.iloc[[0, 1]]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com

In [15]:
df.iloc[[0, 1], 2] 
# 0 , 1 row er 2 number column/lable show korbe, iloc e int value count kore tai 'email' lable diye define korte hoy na 
# but loc e 'email' lable diye define korte hoy

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
Name: email, dtype: object

In [16]:
df.iloc[[0, 1, 2]]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

# use loc

In [17]:
df.loc[0]

first                     Corey
last                    Schafer
email    CoreySchafer@gmail.com
Name: 0, dtype: object

In [18]:
df.loc[[0, 1]]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com

In [19]:
df.loc[[0, 1], ['email']]
# 0 , 1 row er 'email' column/label show korbe, loc e 'email' lable bole define korte hoy

                    email
0  CoreySchafer@gmail.com
1       JaneDoe@gmail.com

In [20]:
df.loc[[0, 1], ['email', 'last']]

                    email     last
0  CoreySchafer@gmail.com  Schafer
1       JaneDoe@gmail.com      Doe

# Index

In [21]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [26]:
df.set_index('email', inplace=True)

In [28]:
df

                        first     last
email
CoreySchafer@gmail.com  Corey  Schafer
JaneDoe@gmail.com        Jane      Doe
JohnDoe@gmail.com        John      Doe

In [29]:
df.index

Index(['CoreySchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com'], dtype='object', name='email')

In [30]:
df.loc['CoreySchafer@gmail.com']

first      Corey
last     Schafer
Name: CoreySchafer@gmail.com, dtype: object

In [31]:
df.loc['CoreySchafer@gmail.com', 'last']

'Schafer'

In [34]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreySchafer@gmail.com, dtype: object

In [37]:
df.reset_index(inplace=True)
df

   index                   email  first     last
0      0  CoreySchafer@gmail.com  Corey  Schafer
1      1       JaneDoe@gmail.com   Jane      Doe
2      2       JohnDoe@gmail.com   John      Doe